.idea/
.fleat/
.vscode/
.settings/

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

*.log

*.sqlite
*.db

*.war
*.jar
*.class
*.exe
*.exe~
*.out
*.o
*.so
*.ddl
*.dylib

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

target/
out/
build/

go.work
*.test
*.prof
vendor/

*.iml